# Indexing DataFrames

### A Simple DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales/sales.csv', index_col='month')

In [3]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

### Indexing using square brackets

In [4]:
#df['column name']['row label']
df ['salt']['Jan']

12.0

### Using column attribute and row label

In [5]:
#df.column_attribute['row label']
df.eggs['Mar']

221

### Using the .loc accessor