### Intro to Classes

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Parts of a class in detail
- Constructors
- Attributes
- Methods

### The `__init__` function
- This is known as the constructor of the class
- The filename variable is passed in as a parameter
 - This is a class variable, or attribute, and it's initalized when we create the class

In [3]:
class DataShell:
    
    #constructor
    def __init__(self, filename):
        self.filename = filename # attribute
        
    # method 
    def create_datashell(self):
        self.array = np.genfromtxt(self.filename, delimiter=',', dtype=None)
    
    # method
    def rename_column(self, old_colname, new_colname):
        
        for index, value in enumerate(self.array[0]):
            if value == old_colname.encode('UTF-8'):
                self.array[0][index] = new_colname
        return self.array
            
    # method    
    def show_shell(self):
        print(self.array)
        
    # method    
    def five_figure_summary(self, col_pos):
        statistics = stats.describe(self.array[1:, col_pos].astype(np.float))
        return f"Five-figure stats of column{col_position}: {statistics}"

In [4]:
our_data_shell = DataShell('mtcars.csv')
our_data_shell

In [6]:
our_data_shell.show_shell

### Object: Instance of a Class

In [8]:
# Create empty class: DataShell
class DataShell:
  
    # Pass statement
    pass

# Instantiate DataShell: my_data_shell
my_data_shell = DataShell()

# Print my_data_shell
print(my_data_shell)

<__main__.DataShell object at 0x000000000517C630>

### Initializing a class

#### Understanding Constructors with Init
- Empty Constructor

In [9]:
class Dinosaur:
    
    def __init__(self):
        pass

- Constructor with Attributes

In [10]:
class Dinosaur:
    
    def __init__(self):
        self.tail = 'Yes'

### Init and Our DataShell

In [11]:
# Modeled on Pandas read_csv
pd.read_csv('mtcars.csv').head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

### Creating the DataShell with a Constructor

In [12]:
class DataShell:
    
    def __init__(self, filename):
        self.filename = filename

### Understandin Self

In [14]:
car_data_shell = DataShell('mtcars.csv')

### Intializing the class
equals the following inside the class<br>
```def __init__(car_data_shell, 'mtcars.csv'):
        self.filename = filename```

### Initializing the ForestFire DataShell

In [15]:
forest_fires_data_shell = DataShell('forestfires.csv')

#### Equals
```def __init__(forest_fires_data_shell, 'forestfires.csv'):
        self.filename = filename```

### The init method

In [16]:
# Create class: DataShell
class DataShell:
  
	# Initialize class with self argument
    def __init__(self):
      
        # Pass statement
        pass

# Instantiate DataShell: my_data_shell
my_data_shell = DataShell()

# Print my_data_shell
print(my_data_shell)

<__main__.DataShell object at 0x00000000051F5F60>

In [17]:
# Create class: DataShell
class DataShell:
  
	# Initialize class with self and integerInput arguments
    def __init__(self, integerInput):
      
		# Set data as instance variable, and assign the value of integerInput
        self.data = integerInput

# Declare variable x with value of 10
x = 10      

# Instantiate DataShell passing x as argument: my_data_shell
my_data_shell = DataShell(x)

# Print my_data_shell
print(my_data_shell.data)

10

### Multiple Instance Variable

In [19]:
# Create class: DataShell
class DataShell:
  
	# Initialize class with self, identifier and data arguments
    def __init__(self, identifier, data):
      
		# Set identifier and data as instance variables, assigning value of input arguments
        self.identifier = identifier
        self.data = data 

# Declare variable x with value of 100, and y with list of integers from 1 to 5
x = 100
y = [1, 2, 3, 4, 5]

# Instantiate DataShell passing x and y as arguments: my_data_shell
my_data_shell = DataShell(x, y)

# Print my_data_shell.identifier
print(my_data_shell.identifier)
# Print my_data_shell.data
print(my_data_shell.data)

100
[1, 2, 3, 4, 5]

### More on Self and Passing Variables

#### Class Variables

In [20]:
class Dinosaur():
    # static variable 
    eyes = 2
    # instance variable
    def __init__(self, teeth):
        self.teeth = teeth

In [25]:
# Building a Stegosaurus
stegosaurus = Dinosaur(40)
stegosaurus.teeth

50

In [26]:
stegosaurus.eyes

2

In [28]:
# Building a Triceratops
Triceratops = Dinosaur(5)
Triceratops.teeth = 6
Triceratops.teeth

6

In [29]:
Triceratops.eyes

2

#### Passing in parameters to objects