### Working with a DataSet to Create DataFrames

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
class DataShell:
    
    #constructor
    def __init__(self, filename):
        self.filename = filename# attribute
        
    # method    
    def create_datashell(self):
        self.array = np.genfromtxt(self.filename, delimiter=',', dtype=None)
    
    # method
    #def rename_column(self, old_colname, new_colname):

    # method    
    def show_shell(self):
        print(self.array)

    # method    
    #def five_figure_summary(self, col_pos):

In [3]:
car_data = DataShell('mtcars.csv')
print(car_data)

<__main__.DataShell object at 0x0000000005371128>

In [4]:
car_data.create_datashell()

In [5]:
print(type(car_data.array))

<class 'numpy.ndarray'>

In [6]:
print(car_data.array[:3])

[[b'model' b'mpg' b'cyl' b'disp' b'hp' b'drat' b'wt' b'qsec' b'vs' b'am'
  b'gear' b'carb']
 [b'Mazda RX4' b'21' b'6' b'160' b'110' b'3.9' b'2.62' b'16.46' b'0' b'1'
  b'4' b'4']
 [b'Mazda RX4 Wag' b'21' b'6' b'160' b'110' b'3.9' b'2.875' b'17.02' b'0'
  b'1' b'4' b'4']]

In [8]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Create class: DataShell
class DataShell:
  
	# Initialize class with self and dataList as arguments
    def __init__(self, dataList):
      	# Set data as instance variable, and assign it the value of dataList
        self.data = dataList
        
	# Define method that returns data: show
    def show(self):
        return self.data
        
    # Define method that prints average of data: avg 
    def avg(self):
        # Declare avg and assign it the average of data
        avg = sum(self.data)/float(len(self.data))
        # Return avg
        return avg
        
# Instantiate DataShell taking integer_list as argument: my_data_shell
my_data_shell = DataShell(integer_list)

# Print output of your object's show method
print(my_data_shell.show())

# Print output of your object's avg method
print(my_data_shell.avg())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5.5

In [11]:
us_life_expectancy = 'us_life_expectancy.csv'

In [12]:
# Load numpy as np and pandas as pd
import numpy as np
import pandas as pd

# Create class: DataShell
class DataShell:
  
    # Initialize class with self and inputFile
    def __init__(self, inputFile):
        self.file = inputFile
        
    # Define generate_csv method, with self argument
    def generate_csv(self):
        self.data_as_csv = pd.read_csv(self.file)
        return self.data_as_csv

# Instantiate DataShell with us_life_expectancy as input argument
data_shell = DataShell(us_life_expectancy)

# Call data_shell's generate_csv method, assign it to df
df = data_shell.generate_csv()

# Print df
print(df)

           country code  year  life_expectancy
0    United States  USA  1880        39.410000
1    United States  USA  1890        45.209999
2    United States  USA  1901        49.299999
3    United States  USA  1902        50.500000
4    United States  USA  1903        50.599998
5    United States  USA  1904        49.599998
6    United States  USA  1905        50.299999
7    United States  USA  1906        50.099998
8    United States  USA  1907        50.200001
9    United States  USA  1908        51.900002
10   United States  USA  1909        52.799999
11   United States  USA  1910        51.799999
12   United States  USA  1911        53.400002
13   United States  USA  1912        54.099998
14   United States  USA  1913        53.500000
15   United States  USA  1914        54.599998
16   United States  USA  1915        55.099998
17   United States  USA  1916        54.200001
18   United States  USA  1917        54.000000
19   United States  USA  1918        47.200001
20   United States  USA  1919        55.299999
21   United States  USA  1920        55.400002
22   United States  USA  1921        58.200001
23   United States  USA  1922        58.099998
24   United States  USA  1923        57.500000
25   United States  USA  1924        58.500000
26   United States  USA  1925        58.500000
27   United States  USA  1926        57.900002
28   United States  USA  1927        59.400002
29   United States  USA  1928        58.299999
..             ...  ...   ...              ...
87   United States  USA  1986        74.772003
88   United States  USA  1987        74.876999
89   United States  USA  1988        74.988998
90   United States  USA  1989        75.112999
91   United States  USA  1990        75.251999
92   United States  USA  1991        75.405998
93   United States  USA  1992        75.568001
94   United States  USA  1993        75.734001
95   United States  USA  1994        75.903000
96   United States  USA  1995        76.070000
97   United States  USA  1996        76.230003
98   United States  USA  1997        76.384003
99   United States  USA  1998        76.531998
100  United States  USA  1999        76.674004
101  United States  USA  2000        76.815002
102  United States  USA  2001        76.962997
103  United States  USA  2002        77.121002
104  United States  USA  2003        77.292000
105  United States  USA  2004        77.474998
106  United States  USA  2005        77.667000
107  United States  USA  2006        77.859001
108  United States  USA  2007        78.045998
109  United States  USA  2008        78.223000
110  United States  USA  2009        78.387001
111  United States  USA  2010        78.539001
112  United States  USA  2011        78.681999
113  United States  USA  2012        78.820999
114  United States  USA  2013        78.959999
115  United States  USA  2014        79.099998
116  United States  USA  2015        79.244003

[117 rows x 4 columns]

### Renaming columns and the Five-Figure Summary

In [28]:
from scipy import stats

In [33]:
class DataShell:
    
    #constructor
    def __init__(self, filename):
        self.filename = filename# attribute
        
    # method    
    def create_datashell(self):
        self.array = np.genfromtxt(self.filename, delimiter=',', dtype=None)
    
    # method
    def rename_column(self, old_colname, new_colname):
        for index, value in enumerate(self.array[0]):
            if value == old_colname.encode('UTF-8'):
                self.array[0][index] = new_colname
        return self.array

    # method    
    def show_shell(self):
        print(self.array)

    # method    
    def five_figure_summary(self, col_pos):
        statistics = stats.describe(self.array[1:, col_pos].astype(np.float))
        return f"Five-figure stats of column {col_pos}: {statistics}"

In [34]:
my_data_shell = DataShell('mtcars.csv')
my_data_shell.create_datashell()

In [35]:
my_data_shell.rename_column('cyl', 'cylinders')
print(my_data_shell.array[:4])

[[b'model' b'mpg' b'cylinders' b'disp' b'hp' b'drat' b'wt' b'qsec' b'vs'
  b'am' b'gear' b'carb']
 [b'Mazda RX4' b'21' b'6' b'160' b'110' b'3.9' b'2.62' b'16.46' b'0' b'1'
  b'4' b'4']
 [b'Mazda RX4 Wag' b'21' b'6' b'160' b'110' b'3.9' b'2.875' b'17.02' b'0'
  b'1' b'4' b'4']
 [b'Datsun 710' b'22.8' b'4' b'108' b'93' b'3.85' b'2.32' b'18.61' b'1'
  b'1' b'4' b'1']]

In [36]:
my_data_shell.five_figure_summary(1)

'Five-figure stats of column 1: DescribeResult(nobs=32, minmax=(10.4, 33.9), mean=20.090625000000003, variance=36.32410282258064, skewness=0.6404398640318834, kurtosis=-0.20053320971549793)'

In [37]:
# Import numpy as np, pandas as pd
import numpy as np
import pandas as pd

# Create class: DataShell
class DataShell:
  
    # Define initialization method
    def __init__(self, filepath):
        # Set filepath as instance variable  
        self.filepath = filepath
        # Set data_as_csv as instance variable
        self.data_as_csv = pd.read_csv(filepath)

# Instantiate DataShell as us_data_shell
us_data_shell = DataShell(us_life_expectancy)

# Print your object's data_as_csv attribute
print(us_data_shell.data_as_csv)

           country code  year  life_expectancy
0    United States  USA  1880        39.410000
1    United States  USA  1890        45.209999
2    United States  USA  1901        49.299999
3    United States  USA  1902        50.500000
4    United States  USA  1903        50.599998
5    United States  USA  1904        49.599998
6    United States  USA  1905        50.299999
7    United States  USA  1906        50.099998
8    United States  USA  1907        50.200001
9    United States  USA  1908        51.900002
10   United States  USA  1909        52.799999
11   United States  USA  1910        51.799999
12   United States  USA  1911        53.400002
13   United States  USA  1912        54.099998
14   United States  USA  1913        53.500000
15   United States  USA  1914        54.599998
16   United States  USA  1915        55.099998
17   United States  USA  1916        54.200001
18   United States  USA  1917        54.000000
19   United States  USA  1918        47.200001
20   United States  USA  1919        55.299999
21   United States  USA  1920        55.400002
22   United States  USA  1921        58.200001
23   United States  USA  1922        58.099998
24   United States  USA  1923        57.500000
25   United States  USA  1924        58.500000
26   United States  USA  1925        58.500000
27   United States  USA  1926        57.900002
28   United States  USA  1927        59.400002
29   United States  USA  1928        58.299999
..             ...  ...   ...              ...
87   United States  USA  1986        74.772003
88   United States  USA  1987        74.876999
89   United States  USA  1988        74.988998
90   United States  USA  1989        75.112999
91   United States  USA  1990        75.251999
92   United States  USA  1991        75.405998
93   United States  USA  1992        75.568001
94   United States  USA  1993        75.734001
95   United States  USA  1994        75.903000
96   United States  USA  1995        76.070000
97   United States  USA  1996        76.230003
98   United States  USA  1997        76.384003
99   United States  USA  1998        76.531998
100  United States  USA  1999        76.674004
101  United States  USA  2000        76.815002
102  United States  USA  2001        76.962997
103  United States  USA  2002        77.121002
104  United States  USA  2003        77.292000
105  United States  USA  2004        77.474998
106  United States  USA  2005        77.667000
107  United States  USA  2006        77.859001
108  United States  USA  2007        78.045998
109  United States  USA  2008        78.223000
110  United States  USA  2009        78.387001
111  United States  USA  2010        78.539001
112  United States  USA  2011        78.681999
113  United States  USA  2012        78.820999
114  United States  USA  2013        78.959999
115  United States  USA  2014        79.099998
116  United States  USA  2015        79.244003

[117 rows x 4 columns]

In [38]:
# Create class DataShell
class DataShell:
  
    # Define initialization method
    def __init__(self, filepath):
        self.filepath = filepath
        self.data_as_csv = pd.read_csv(filepath)
    
    # Define method rename_column, with arguments self, column_name, and new_column_name
    def rename_column(self, column_name, new_column_name):
        self.data_as_csv.columns = self.data_as_csv.columns.str.replace(column_name, new_column_name)

# Instantiate DataShell as us_data_shell with argument us_life_expectancy
us_data_shell = DataShell(us_life_expectancy)

# Print the datatype of your object's data_as_csv attribute
print(us_data_shell.data_as_csv.dtypes)

# Rename your objects column 'code' to 'country_code'
us_data_shell.rename_column('code', 'country_code')

# Again, print the datatype of your object's data_as_csv attribute
print(us_data_shell.data_as_csv.dtypes)

country             object
code                object
year                 int64
life_expectancy    float64
dtype: object
country             object
country_code        object
year                 int64
life_expectancy    float64
dtype: object

In [39]:
# Create class DataShell
class DataShell:

    # Define initialization method
    def __init__(self, filepath):
        self.filepath = filepath
        self.data_as_csv = pd.read_csv(filepath)

    # Define method rename_column, with arguments self, column_name, and new_column_name
    def rename_column(self, column_name, new_column_name):
        self.data_as_csv.columns = self.data_as_csv.columns.str.replace(column_name, new_column_name)
        
    # Define get_stats method, with argument self
    def get_stats(self):
        # Return a description data_as_csv
        return self.data_as_csv.describe()
    
# Instantiate DataShell as us_data_shell
us_data_shell = DataShell(us_life_expectancy)

# Print the output of your objects get_stats method
print(us_data_shell.get_stats())

              year  life_expectancy
count   117.000000       117.000000
mean   1956.752137        66.556684
std      34.398252         9.551079
min    1880.000000        39.410000
25%    1928.000000        58.500000
50%    1957.000000        69.599998
75%    1986.000000        74.772003
max    2015.000000        79.244003