# Indexing DataFrames

### A Simple DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales/sales.csv', index_col='month')

In [3]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

### Indexing using square brackets

In [4]:
#df['column name']['row label']
df ['salt']['Jan']

12.0

### Using column attribute and row label

In [5]:
#df.column_attribute['row label']
df.eggs['Mar']

221

### Using the .loc accessor

In [6]:
df.loc['May', 'spam']

52

### Using the .iloc accesor

In [7]:
df.iloc[4,2]

52

### Selecting only some columns

In [9]:
df_new = df[['salt', 'eggs']]
df_new

       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221
Apr    87.0    77
May     NaN   132
Jun    60.0   205

### Postional and labeled indexing 
Given a pair of label-based indices, sometimes it's necessary to find the corresponding positions.
Find `x` and `y` such that `election.iloc[x,y] == elections.loc['Bedford', 'winner']`

In [39]:
election = pd.read_csv('pennsylvania2012_turnout.csv', index_col='county')
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [40]:
#election.columns
winner_index = list(election.columns).index('winner')
winner_index

4

In [42]:
bedford_index = list(election.index).index('Bedford')
bedford_index

4

In [43]:
election.iloc[bedford_index, winner_index]

'Romney'

### Indexing and column rearrangement
There are circumstances in which it's useful to modify the order of your DataFrame columns. 
We do that now by extracting just two columns from the Pennsylvania election.

In [46]:
election = pd.read_csv('pennsylvania2012_turnout.csv', index_col='county')
results = election[['winner', 'total', 'voters']]
results.head()

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189