### Intro to Classes

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
class DataShell:
    
    #constructor
    def __init__(self, filename):
        self.filename = filename # attribute
        
    # method    
    def create_datashell(self):
        self.array = np.genfromtxt(self.filename, delimiter=',', dtype=None)
    
    # method
    def rename_column(self, old_colname, new_colname):
        
        for index, value in enumerate(self.array[0]):
            if value == old_colname.encode('UTF-8'):
                self.array[0][index] = new_colname
        return self.array
            
    # method    
    def show_shell(self):
        print(self.array)
        
    # method    
    def five_figure_summary(self, col_pos):
        statistics = stats.describe(self.array[1:, col_pos].astype(np.float))
        return f"Five-figure stats of column{col_position}: {statistics}"

In [7]:
our_data_shell = DataShell('mtcars.csv')
our_data_shell

In [9]:
our_data_shell.show_shell