In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///census.sqlite')
connection = engine.connect()

In [2]:
from sqlalchemy import Table, MetaData, select
metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)
stmt = select([census])

### Calculating Values in a Query
- addition +
- subtraction - 
- multiplication *
- division /
- Work differently on different data types

In [3]:
from sqlalchemy import desc

In [4]:
stmt = select([census.columns.age,
              (census.columns.pop2008-
              census.columns.pop2000).label('pop_change')
])
stmt = stmt.group_by(census.columns.age)
stmt = stmt.order_by(desc('pop_change'))
stmt = stmt.limit(5)
results = connection.execute(stmt).fetchall()

In [5]:
print(results)

[(61, 52672), (85, 51901), (54, 50808), (58, 45575), (60, 44915)]

### Case Statement
- Used to treat data differently based on a condition
- Accepts a list of conditions to match and a columns to return if the condition matches
- The list of conditions ends with an else clause to determine what to do when a record doesn't match any prior conditions

In [6]:
from sqlalchemy import case, func
stmt = select([
        func.sum(
        case([
            (census.columns.state == 'New York',
            census.columns.pop2008)
        ], else_ = 0 ))])
results = connection.execute(stmt).fetchall()
print(results)

[(19465159,)]

### Cast Statement 
- Converts data to another type
- Useful for converting 
 - integers to floats for division 
 - strings to dates and times
- Accepts a column or expression and the target Type

In [7]:
from sqlalchemy import case, cast, Float
stmt = select([
        (func.sum(
            case([
                (census.columns.state == 'New York',
                census.columns.pop2008)
            ], else_ = 0)) / 
        cast(func.sum(census.columns.pop2008),
            Float) * 100).label('ny_percent')
])
results = connection.execute(stmt).fetchall()
print(results)

[(6.426761976501632,)]

In [8]:
# # Import create_engine function
# from sqlalchemy import create_engine

# # Create an engine to the census database
# engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# # Print the table names
# print(engine.table_names())

In [9]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008 - census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

California:105705
Florida:100984
Texas:51901
New York:47098
Pennsylvania:42387

In [10]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

51.09467432293413

### SQL Relationships
- Allow us to avoid duplicate data
- Make it easy to change things in one place
- Useful to break out information from a table we don't need very often

### Automatic Joins

In [11]:
stmt = select([census.columns.pop2008, 
              state_fact.columns.abbreviation])

results = connection.execute(stmt).fetchall()
print(results[:5])

[(95012, 'IL'), (95012, 'NJ'), (95012, 'ND'), (95012, 'OR'), (95012, 'DC')]

### Join
- Accepts a Table and an optional expression that explains how the two tables are related
- The expression is not needed if the relationship is predefined and available via reflection
- Comes immediately after the `select()` clause and prior to any `where()`, `order_by()`, or `group_by()` clauses

### Select_from
- Used to replace the default, derived FROM clause with a join
- Wraps the `join()` clause

In [12]:
stmt = select([func.sum(census.columns.pop2000)])
stmt = stmt.select_from(census.join(state_fact,census.columns.state==state_fact.columns.name))

In [13]:
stmt = stmt.where((state_fact.columns.circuit_court == '10'))
result = connection.execute(stmt).scalar()
print(result)

14945252

### Joining Tables without Predefined Relationship
- Join accepts a Table and an optional expression that explains how the two tables are related
- Will only join on data that match between the two columns
- Avoid joining on columns of different types

In [14]:
stmt = select([func.sum(census.columns.pop2000)])
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))
stmt = stmt.where(state_fact.columns.census_division_name == 'East South Central')

In [15]:
result = connection.execute(stmt).scalar()
print(result)

16982311

In [16]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

In [17]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

In [18]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt).fetchall()

# Loop over the the results object and print each record.
for record in results:
    print(record)

('Alabama', 4649367, 'East South Central')
('Alaska', 664546, 'Pacific')
('Arizona', 6480767, 'Mountain')
('Arkansas', 2848432, 'West South Central')
('California', 36609002, 'Pacific')
('Colorado', 4912947, 'Mountain')
('Connecticut', 3493783, 'New England')
('Delaware', 869221, 'South Atlantic')
('Florida', 18257662, 'South Atlantic')
('Georgia', 9622508, 'South Atlantic')
('Hawaii', 1250676, 'Pacific')
('Idaho', 1518914, 'Mountain')
('Illinois', 12867077, 'East North Central')
('Indiana', 6373299, 'East North Central')
('Iowa', 3000490, 'West North Central')
('Kansas', 2782245, 'West North Central')
('Kentucky', 4254964, 'East South Central')
('Louisiana', 4395797, 'West South Central')
('Maine', 1312972, 'New England')
('Maryland', 5604174, 'South Atlantic')
('Massachusetts', 6492024, 'New England')
('Michigan', 9998854, 'East North Central')
('Minnesota', 5215815, 'West North Central')
('Mississippi', 2922355, 'East South Central')
('Missouri', 5891974, 'West North Central')
('Montana', 963802, 'Mountain')
('Nebraska', 1776757, 'West North Central')
('Nevada', 2579387, 'Mountain')
('New Hampshire', 1314533, 'New England')
('New Jersey', 8670204, 'Mid-Atlantic')
('New Mexico', 1974993, 'Mountain')
('New York', 19465159, 'Mid-Atlantic')
('North Carolina', 9121606, 'South Atlantic')
('North Dakota', 634282, 'West North Central')
('Ohio', 11476782, 'East North Central')
('Oklahoma', 3620620, 'West South Central')
('Oregon', 3786824, 'Pacific')
('Pennsylvania', 12440129, 'Mid-Atlantic')
('Rhode Island', 1046535, 'New England')
('South Carolina', 4438870, 'South Atlantic')
('South Dakota', 800997, 'West North Central')
('Tennessee', 6202407, 'East South Central')
('Texas', 24214127, 'West South Central')
('Utah', 2730919, 'Mountain')
('Vermont', 620602, 'New England')
('Virginia', 7648902, 'South Atlantic')
('Washington', 6502019, 'Pacific')
('West Virginia', 1812879, 'South Atlantic')
('Wisconsin', 5625013, 'East North Central')
('Wyoming', 529490, 'Mountain')

### Working with Hierarchical Tables

#### Hierarchical Tables
- Contain a relationship with themselves
- Commonly found in:
 - Organizational 
 - Geographic
 - Network
 - Graph

In [19]:
emp_engine = create_engine('sqlite:///employees.sqlite')
conn = emp_engine.connect()
print(emp_engine.table_names())

['employees']

In [20]:
metadata = MetaData()
employees = Table('employees', metadata, autoload=True, autoload_with=emp_engine)
print(repr(employees))

Table('employees', MetaData(bind=None), Column('id', INTEGER(), table=<employees>, primary_key=True, nullable=False), Column('name', VARCHAR(length=20), table=<employees>), Column('job', VARCHAR(length=20), table=<employees>), Column('mgr', INTEGER(), table=<employees>), Column('hiredate', DATETIME(), table=<employees>), Column('sal', NUMERIC(precision=7, scale=2), table=<employees>), Column('comm', NUMERIC(precision=7, scale=2), table=<employees>), Column('dept', INTEGER(), table=<employees>), schema=None)

### Hierarchical Tables - alias()
- Requires a way to view the table via multiple names
- Creates a unique reference that we can use

In [39]:
managers = employees.alias()

In [40]:
stmt = select(
        [managers.columns.name.label('manager'),
        employees.columns.name.label('employee')])

In [41]:
stmt = stmt.select_from(employees.join(
            managers, managers.columns.id == employees.columns.mgr))

In [42]:
stmt = stmt.order_by(managers.columns.name)

print(conn.execute(stmt).first())

('FILLMORE', 'GRANT')

### Group_by and Func
- It's important to target `group_by()` at the right alias
- Be careful with what you perform functions on 
- If you don't find yourself using both the alias and the table name for a query, don't create the alias at all

In [43]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
managers = employees.alias()

stmt = select([managers.columns.name,
              func.sum(employees.columns.sal)])

stmt = stmt.select_from(employees.join(
        managers, managers.columns.id ==
        employees.columns.mgr))

stmt = stmt.group_by(managers.columns.name)

print(conn.execute(stmt).fetchall())

[('FILLMORE', Decimal('96000.00')), ('GARFIELD', Decimal('83500.00')), ('HARDING', Decimal('52000.00')), ('JACKSON', Decimal('197000.00'))]

In [47]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = conn.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE', 'GRANT')
('FILLMORE', 'ADAMS')
('FILLMORE', 'MONROE')
('GARFIELD', 'JOHNSON')
('GARFIELD', 'LINCOLN')
('GARFIELD', 'POLK')
('GARFIELD', 'WASHINGTON')
('HARDING', 'TAFT')
('HARDING', 'HOOVER')
('JACKSON', 'HARDING')
('JACKSON', 'GARFIELD')
('JACKSON', 'FILLMORE')
('JACKSON', 'ROOSEVELT')

In [49]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = conn.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

('FILLMORE', 3)
('GARFIELD', 4)
('HARDING', 2)
('JACKSON', 4)

### Dealing with Large ResultSets
- `fetchmany()` lets us specify how many rows we wnat to act upon
- We can loop over `fetchmany()`
- It retunrs an empty list when there are no more records
- We have to close the ResultProxy afterwards

### Fetching Many Rows

In [ ]:
# while more_results:
#     partial_results = results_proxy.fetchmany(50)
#     if partial_results == []:
#         more_results = False
        
#     for row in partial_results:
#         state_count[row.state] += 1
        
# results_proxy.close()