In [1]:
import pandas as pd
import sqlite3

def sql_query(query):
    c = cur.execute(query)
    df = pd.DataFrame(c.fetchall(), 
                      columns=[description[0] for description in c.description])
    return df

### State of the UNION

In [2]:
conn = sqlite3.connect('leaders.sqlite')
cur = conn.cursor()

In [3]:
sql_query('''SELECT prime_minister as leader, country
FROM prime_ministers
UNION
SELECT monarch, country
FROM monarchs
ORDER BY country;''')

                     leader    country
0          Malcolm Turnbull  Australia
1          Hassanal Bolkiah     Brunei
2             Sherif Ismail      Egypt
3        Jack Guy Lafontant      Haiti
4             Narendra Modi      India
5              Erna Solberg     Norway
6                  Harald V     Norway
7   Qaboos bin Said al Said       Oman
8             Antonio Costa   Portugal
9                 Felipe VI      Spain
10            Mariano Rajoy      Spain
11         Nguyen Xuan Phuc    Vietnam

In [4]:
sql_query('''SELECT prime_minister as leader, country
FROM prime_ministers
UNION ALL
SELECT monarch, country
FROM monarchs
ORDER BY country;''')

                     leader    country
0          Malcolm Turnbull  Australia
1          Hassanal Bolkiah     Brunei
2          Hassanal Bolkiah     Brunei
3             Sherif Ismail      Egypt
4        Jack Guy Lafontant      Haiti
5             Narendra Modi      India
6              Erna Solberg     Norway
7                  Harald V     Norway
8   Qaboos bin Said al Said       Oman
9   Qaboos bin Said al Said       Oman
10            Antonio Costa   Portugal
11            Mariano Rajoy      Spain
12                Felipe VI      Spain
13         Nguyen Xuan Phuc    Vietnam