### Reading multiple data files

In [2]:
import pandas as pd
dataframe0 = pd.read_csv('sales/sales-jan-2015.csv')
dataframe1 = pd.read_csv('sales/sales-feb-2015.csv')
dataframe0.head(3)

                  Date    Company   Product  Units
0  2015-01-21 19:13:21  Streeplex  Hardware     11
1  2015-01-09 05:23:51  Streeplex   Service      8
2  2015-01-06 17:19:34    Initech  Hardware     17

### Using a loop

In [8]:
filenames = ['sales/sales-jan-2015.csv', 'sales/sales-feb-2015.csv']
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))
#dataframes[0]

### Using a list comprension

In [10]:
dataframes = [pd.read_csv(f) for f in filenames]
#dataframes

### Using glob

In [12]:
from glob import glob
filenames = glob('sales/sales*.csv')
dataframes = [pd.read_csv(f) for f in filenames]
#dataframes

### Reindexing DataFrames

- *indices*: many *index labels* within *Index Data structures*
- *indexes*: many pandas *Index data structures*

In [31]:
df = pd.read_csv('pittsburgh2013.csv', index_col="Date", parse_dates=True)

In [35]:
by_quarter = df.groupby(pd.PeriodIndex(df.index, freq="Q")).mean()
w_mean = by_quarter['Mean TemperatureF']
w_mean

Date
2013Q1    32.133333
2013Q2    61.956044
2013Q3    68.934783
2013Q4    43.434783
Freq: Q-DEC, Name: Mean TemperatureF, dtype: float64